<div class="container" style="background-color:blue;">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul>
            <li *ngFor="let h of headers | async">
            <div class="post-preview">
                <a routerLink="/blog-page">
                    <h2 class="post-title">
                        {{h.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{h.subtitle}}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a>{{h.PostedBy}}</a>
                    on {{h.CreatedOn| date}}</p>
                    <button type="button" (click)="deleteProduct(h.id)" class="btn btn-danger">Delete Post</button>
            </div>
            <hr>
        </li>
            </ul>
        </div>
    </div>
</div>
